{% extends "::index.html.twig" %}
{% block title %}JEWEL STREET:CHANGE PASSWORD{% endblock %}
{% block jsscript %}
    {% javascripts 'bundles/goldtaskapp/js/jquery.validate.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $( document ).ready(function() {
            $.validator.addMethod("password1", function(value, element) {
                return this.optional(element) || value == value.match(/^(?=.*\d)(?=.*[^a-zA-Z\d])(?=.*[a-zA-Z]).{6,}$/);
				                                                      
            });
             $("#form_sample_1").validate({
                // Specify the validation rules
                //errorElement: 'span',
                rules: {
                    newpwd: {
                        required: true,
                        password1: true,
                        minlength: 8,
                        maxlength: 15
                    },
                    cnewpwd: {
                        required: true,
                        password1: true,
                        minlength: 8,
                        maxlength: 15,
                        equalTo: "#newpwd"
                    },
                    oldpwd: "required"

                },
                messages: {
                    newpwd: {
                        required: "Please provide a new password.",
                        password1: "Password Should contain atleast one number and one special character.",
                        minlength: "Your password must be at least 8 characters long.",
                        maxlength: "Your password should be maximum 15 characters long."
                    },
                    cnewpwd: {
                        required: "Please provide a confirm password.",
                        password1: "Password Should contain atleast one number and one special character.",
                        minlength: "Your password must be at least 8 characters long.",
                        maxlength: "Your password should be maximum 15 characters long.",
                        equalTo: "New password and confirm password should be same."
                    },
                    oldpwd: "Old password is required."
                },
                submitHandler: function(form) {
                    form.submit();
                }
            });
        });
    </script>
    <style >
        .error{color:#f56954 !important;font-size:14px;margin-left: 15px;}
        .form-control {float:left !important; width:300px;margin-left: 13px; margin-top: -7px;}
        .col-xs-5{width: 100%}
    </style>
{% endblock %}
{% block bodyheader %}

    <section class="content-header">
        <h1>Change Password</h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('goldtaskReportPatients') }}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Change Password</li>
        </ol>
    </section>
    <!-- block -->
    <!-- Main content -->
    <section class="content">	
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        {% if name!='' %}
                        <div class="alert alert-success">
							<i class="fa fa-ban"></i>
							<button type="button" class="close" data-dismiss="alert">&times;</button>
							{{   name }}
						</div>{% endif %}                        
                        <h3 class="box-title"></h3>						
                    </div><!-- /.box-header -->					
                    <form role="form" action="" id="form_sample_1" name="form_sample_1" method="post" class="form-horizontal" accept-charset="UTF-8" autocomplete="off">
                        <p class="margin">Old Password<span class="required">*</span></p>						
                        <div class="form-group">								
                            <div class="col-xs-5">
                                <input type="password" class="form-control" name='oldpwd' id='oldpwd' required /><span style="color:red;"> {{ Fail }}</span>
                            </div>
                        </div>
                        <p class="margin">New Password<span class="required">*</span></p>
                        <div class="form-group">								
                            <div class="col-xs-5">
                                <input type="password" class="form-control" name='newpwd' id='newpwd' maxlength="15" required />
                            </div>
                        </div>
                        <p class="margin">Confirm Newpassword<span class="required">*</span></p>
                        <div class="form-group">								
                            <div class="col-xs-5">
                                <input type="password" class="form-control" name='cnewpwd' id='cnewpwd' maxlength="15" required />
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary" name="changesubmit" value="Change Password">Submit</button>
                        </div>
                </div>
                </form>			
            </div>
        </div>
    </div>
</section>
{% endblock %}
