{% extends "::index.html.twig" %}
{% block title %}IN TOUCH::RESET PASSWORD{% endblock %}
{% block jsscript %}		
    {% javascripts 'bundles/goldtaskapp/js/jquery.validate.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
          
		  
            $.validator.addMethod("password1", function(value, element) {
                return this.optional(element) || value == value.match(/^(?=.*\d)(?=.*[^a-zA-Z\d])(?=.*[a-zA-Z]).{6,}$/);
				                                                          
            });
            
            $('#form_sample_1').validate({
            // Specify the validation rules
             //alert("hello");
			 //errorElement: 'span',
			 errorPlacement: function(error, element) {
				if (element.attr("name") == "selectItemform[officesId][]" ) {
				error.insertAfter("#uofficeerror");
				}else {
				error.insertAfter(element);
				}
				},
            rules: {
				newpwd: {
				    required: true,
				    password1: true,
                    minlength: 8,
                    maxlength: 15
				},
				cnfnewpwd: {
				    required: true,
                 	password1: true,
                    minlength: 8,
                    maxlength: 15,
                    equalTo: "#newpwd"
				}
				
				
            },
            messages: {
			
			newpwd:{
                    required: "Please enter new password.",
					password1: "Password Should contain atleast one number  and one special character.",
                    minlength: "Your password must be at least 8 characters long.",
                    maxlength: "Your password should be maximum 15 characters long."
		   },
		   cnfnewpwd:{
                    required: "Please enter confirm password.",
                    password1: "Password Should contain atleast one number and one special character.",
                    minlength: "Your password must be at least 8 characters long.",
                    maxlength: "Your password should be maximum 15 characters long.",
                    equalTo: "New password and confirm password should be same."
		   }
            },
            submitHandler: function(form) {
                form.submit();
            }
		});
            
        });        
    </script>
    <style>
        .control-label{
            margin: 0 0 0 54px;
        }
        .controls{
            margin-left:53px;
        }
        .controls input[type="password"]{
            width: 80%;
        }
        .error{color:red;font-size:13px;}
    </style>
{% endblock %}
{% block bodyheader %}
    <section class="content-header">
        <h1>User</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Reset Password</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">                   
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Reset Password</h3>
                    </div>
                    <div class="panel-body">
                        <form action="" method="post" name="resetpwd" id="form_sample_1" class="form-horizontal" autocomplete="off">							
                            <fieldset>                               						
                                {% if success==1 or success==2 or success==4 or success==5 %}
                                    <div class="alert alert-error">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        <h4>Error</h4>
                                        {{ name }}
                                    </div>
                                {% endif %}
                                {% if success==3 %}
                                    <div class="alert alert-success">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        <h4>Success</h4>
                                        {{ name }}
                                    </div>
                                {% endif %}

                                <div class="form-group">
                                    <label class="control-label">New password<span class="required">*</span></label>
                                    <div class="controls">                                   
                                        <input type='password' name='newpwd' id='newpwd' maxlength="15" class="span6 m-wrap" />
                                    </div>
                                </div>
                                <div class="form-group">							
                                    <label class="control-label">Confirm password<span class="required">*</span></label>
                                    <div class="controls">										
                                        <input type='password' name='cnfnewpwd' id='cnfnewpwd' maxlength="15" class="span6 m-wrap" />
                                    </div>
                                </div>
                                <div class="form-group">					
                                    <label class="control-label"></label>
                                    <div class="controls">
                                        <input type="hidden" name="hidUser" id="hidUser" value="{{ user }}" />
                                        <input type='submit' name='resetsubmit' value='Reset Password' class='btn btn-primary' onClick='validateResetPassword();' />
                                    </div>
                                </div>
                            </fieldset>                                    
                        </form>
                    </div>
                </div>
            </div>			
        </div><!-- /.row (main row) -->
    </section><!-- /.content -->   
{% endblock %}
