{% extends "::index.html.twig" %}
{% block title %}Jewel Street::SHOP VIEW{% endblock %}
{% block jsscript %}
	<script type="text/javascript">		
		$(function() {                
			$('#example1').dataTable();
		});
	</script>
{% endblock %}
{% block bodyheader %}
    <section class="content-header">
		<h1>Office</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
			<li><a href="#"> Shop</a></li>
			<li class="active">View</li>
		</ol>
	</section>
	<!-- Main content -->
	<section class="content">	
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">View</h3>
						<div class="muted pull-left" style="float:right !important;padding-top:10px !important;padding-right:10px !important;"><a class="btn btn-primary" href="{{ path('officeslist') }}" style="color:white !important;"><i class="fa fa-arrow-left"></i>Back</a></div>
					</div><!-- /.box-header -->
					<div class="box-body">
						<table class="table table-bordered table-striped" id="example1">
							<tbody>
								<tr>
									<td>Office name</td>
									<td>{{ data.name }}</td>										
								</tr>																			
								<tr>
									<td>Office IP</td>
									<td>
										{% if data.officeIpNumber != '' %}
											{{ data.officeIpNumber }}
										{% else %}
											N/A
										{% endif %}
									</td> 
								</tr>
								<tr>
									<td>Status</td>
									<td>{% if data.isActive == 1 %}
											Active
										{% else %}
											Inactive
										{% endif %}
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
